body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  header {
    width: 100%;
    background-color:#FF1493;
    height: 200px;
    margin: 20px
  }
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 30px;
  }
  .nav-item {
    list-style: none;
     padding: 0 20px;
    line-height: 180px;
     color: #ffffff;
  }
  .nav-link {
    color: #ffffff;
  }
  .img {
    margin: 20px
  }
  footer { width: 100%;
    background-color:#FF1493;
    height: 100px;
    margin: 20px
  }
  .my-gh {
    color:#ffffff;
    font-size: 20px;
    margin: 20px 20px;
  }
  .logo {
    margin: 10px 20px;
  }